# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT
#
# Remember: for BT keyboards, the length of ZMK_KEYBOARD_NAME has to be under 16 characters.

if SHIELD_BSAG_NINE_NANO

config ZMK_KEYBOARD_NAME
    default "BSAG NineNano L"

endif


